<div class="display">
  <div class="hero">
      <div class="hero1">
          <img src="./assets/super-1.png" alt="Siderman">
          <div class="name">Spiderman</div>
          <div class="points">30</div>
      </div>
      <div class="hero2">
          <img src="./assets/super-13.png" alt="Hulk">
          <div class="name"> Hulk</div>
          <div class="points">50</div>
      </div>
  </div>
  <div class="scorecard">
      <div>5</div>
      <div> - </div>
      <div>0</div>
  </div>
  <div class="Villains">
      <div class="villain1">
          <img src="./assets/super-18.png" alt="Devil1">
          <div class="name">Devil1</div>
          <div class="points">20</div>
      </div>
      <div class="villain2">
          <img src="./assets/super-20.png" alt="Thanos">
          <div class="name">Thanos</div>
          <div class="points">80</div>
      </div>

  </div>
</div>